#dustbin{
    text-align:center;
    border: 2px solid pink;
    background-color:rgb(107, 135, 198);
    color: black;

}
#vidio{
    margin-left: 33%;
}
#preview{
    text-align:left;
}
#component{
    text-transform: none;
    list-style-type:square;
}
h2{
    text-decoration: underline;
    color:rgb(42, 19, 19);
}
body{
    background-color: rgb(255 255 255);
    
}